#app {
  max-width: 850px;
  margin: 0 auto;
}

nav {
  padding: 20px 0 20px 0;
}

.form > h2, div {
  margin: 0 0 20px 0;
}

.course-filter > * {
  display: inline;
}

.course-filter > select, button {
  margin-left: 20px;
}